:root {
  --primary-pink: #fb7185;
  --light-grey: #F8FAFC;
  --light-grey-2: #F1F5F9;
  --dark-blue: #0F172A;
}

body {
  height: 100vh;
  background-color: var(--dark-blue);
}

.close-button::before {
  content: "\2715";
}

.close-button {
  position: absolute;
  cursor: pointer;
  font-size: 18px;
}

.close-button:hover {
  font-weight: 600;
  font-size: 20px;
}